PORT=5000
MONGO_URI="mongodb+srv://jokeryahoo2004:<db_password>@omdb.rc4mg.mongodb.net/admin-blogger?retryWrites=true&w=majority&appName=Omdb"
JWT_SECRET=BLOGGERADMINPANELBACKENDSECRET
NODE_ENV=development